@using FeatureFlags.Models
@using FeatureFlags.Resources
@model AlertModel

<nilla-alert>
    <div class="card bg-@Model.AlertType.ToString().ToLower() mb-2 text-white alert" role="alert">
        <div class="row">
            <span class="col-11 alert-body">
                @if (Model.Icon != null) {
                    <icon name="@Model.Icon.Value" />
                }
                @Html.Raw(Model.Content)
            </span>
            <span class="col-1 text-right">
                @if(Model.CanDismiss) {
                    <button type="button" class="button" title="@Core.Close" data-dismiss>
                        <icon name="Close" label="@Core.Close" />
                    </button>
                }
            </span>
        </div>
    </div>
</nilla-alert>
