@using FeatureFlags.Models
@using FeatureFlags.Resources
@model ChartModel

<nilla-chart data-src-url="@Model.SourceUrl">
    <div class="card">
        <header>
            <h4>@Model.Title</h4>
        </header>
        <div class="row">
            <div data-chart-table></div>
        </div>
        <div class="row">
            <span class="col" data-chart-updated-date>
            </span>
            <span class="col text-right">
                <button type="button" class="button" title="@Core.Refresh" data-chart-refresh>
                    <icon name="Refresh" label="@Core.Refresh" />
                </button>
            </span>
        </div>
    </div>
</nilla-chart>
