@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome</h1>
    <p>Experiment with different feature flags here.</p>

    <feature name="AlwaysActive">
        <p>This can only be seen if 'AlwaysActive' is enabled.</p>
    </feature>

    <feature name="AlwaysDisabled">
        <p>This can only be seen if 'AlwaysDisabled' is enabled.</p>
    </feature>

    <feature name="AlwaysDisabled" negate="true">
        <p>This is negated and can only be seen if 'AlwaysDisabled' is disabled.</p>
    </feature>

    <p>Clear cache to test changes immediately without having to restart.</p>

    <a class="button" href="~/Home/ClearCache">Clear Cache</a>
</div>
