nilla-chart {
    [data-chart-updated-date] {
        font-style: italic;
    }

    [data-chart-refresh] {
        padding: 1rem;
    }

    .charts-css.legend {
        li {
            font-size: var(--font-size);
        }

        &.legend-square {
            li::before {
                width: var(--font-size);
                height: var(--font-size);
                border: 0;
            }
        }
    }
}
