/* chota.css */
@import url("./chota.css");

/* menu styles */
@import url("./luxbar.css");

@import url("./charts.css");

/* custom styles */
@import url("./root.css");
@import url("./layout.css");
@import url("./menu.css");
@import url("./icons.css");
@import url("./form.css");
@import url("./breadcrumbs.css");
@import url("./utils.css");
@import url("./alert.css");
@import url("./table.css");
@import url("./json.css");
@import url("./autocomplete.css");
@import url("./featureFlags.css");
