@using FeatureFlags.Constants;
@using FeatureFlags.Resources;
@using FeatureFlags.Utils;
@inject FeatureFlags.Services.IFeatureFlagService FeatureFlagService

@{
    ViewData[ViewProperties.Title] = Core.Dashboard;

    if (ViewContext.HttpContext.Request.Headers.Any(x => x.Key.ToLowerInvariant() == PJax.Request))
    {
        // create a title header for pjax to use since we don't have breadcrumbs on this page
        ViewContext.HttpContext.Response.Headers.Add(PJax.Title, Core.Dashboard);
    }
}

<div id="content" class="dashboard">
    <h1>Dashboard</h1>
</div>
